<section>
    <form (submit)="conServ.envoieConne()" *ngIf="!conServ.connecte">
        <input name="id" type="text" [(ngModel)]="conServ.user.identifiant" minlength="6" placeholder="Saisissez votre identifiant" required>
        <input name="mdp" type="password" [(ngModel)]="conServ.user.mdp" minlength="8" placeholder="Saisissez votre mot de passe" required>
        <input type="submit" value="S'identifier">
        <input type="reset" value="Annuler">
      </form>
      <button *ngIf="conServ.connecte" (click)="conServ.deconnecte()">Déconnexion</button>
</section>